[Unit]
Description=8BitDo Automated Unbind and Sleep
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/local/8bitdo-sleep-fix sleep

ExecStop=/usr/bin/local/8bitdo-sleep-fix wake

SuccessExitStatus=0 1

[Install]
RequiredBy=sleep.target
